<!-- funeral-services-dropdown.component.html -->
<div class="container mt-4">
    <label for="funeralServices" class="form-label">Choose a Health Service</label>
    <select class="form-select" id="funeralServices" name="funeralServices">
      <option value="" disabled selected>Select a service</option>
      <option value="traditional">Healing kiss</option>
      <option value="traditional">Check up</option>
      <option value="traditional">Healing Stones</option>
      <option value="traditional">Medical Guidance</option>
      <option value="traditional">Medical Opinion</option>
      <option value="traditional">loving loving</option>
    </select>
  </div>
  